<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaWeb10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>com.jw.servlet.AServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/AServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>com.jw.servlet.BServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/BServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CServlet</servlet-name>
    <servlet-class>com.jw.servlet.CServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CServlet</servlet-name>
    <url-pattern>/CServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DServlet</servlet-name>
    <servlet-class>com.jw.servlet.DServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DServlet</servlet-name>
    <url-pattern>/DServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EServlet</servlet-name>
    <servlet-class>com.jw.servlet.EServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EServlet</servlet-name>
    <url-pattern>/EServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FServlet</servlet-name>
    <servlet-class>com.jw.servlet.FServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FServlet</servlet-name>
    <url-pattern>/FServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GServlet</servlet-name>
    <servlet-class>com.jw.servlet.GServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GServlet</servlet-name>
    <url-pattern>/GServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HServlet</servlet-name>
    <servlet-class>com.jw.servlet.HServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HServlet</servlet-name>
    <url-pattern>/HServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IServlet</servlet-name>
    <servlet-class>com.jw.servlet.IServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IServlet</servlet-name>
    <url-pattern>/IServlet</url-pattern>
  </servlet-mapping>
</web-app>